body {
background: #c71714;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: black;
text-align: center;
}
.assign {
	display: flex;
	padding: 10px;
	margin: 10px;
	background: #D3D3D3;
}
.assign img {
	width: 200px;
	padding: 10px;
}

a {
text-decoration: none;
color: white; 
}
.assign img {
padding: 10px;
border: 2px dashed white;
}
